<mat-card fxLayout="column">
    <mat-card-header>
        <mat-card-title>
            <i
                class="fab"
                [ngClass]="icons[type]"
            ></i>
            {{title}}
        </mat-card-title>
    </mat-card-header>

    <mat-card-content fxFlex>
        <textarea
            highlight-js
            #textarea
            [placeholder]="placeholder"
            (change)="emitChange()"
            [(ngModel)]="content"
            lang="html"
        ></textarea>
    </mat-card-content>

    <mat-card-actions>
        <button
            mat-icon-button
            color="accent"
            matTooltip="Copy"
            [ngxClipboard]="textarea"
            (cbOnSuccess)="copySuccess()"
            color="primary"
        >
            <mat-icon>file_copy</mat-icon>
        </button>
        <button
            mat-icon-button
            color="warn"
            matTooltip="Clear"
            (click)="clear()"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </mat-card-actions>

</mat-card>
