<div
    fxLayout="column"
    id="wrapper"
    fxLayoutGap="8px"
>
    <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxFlex.gt-sm="30"
        fxFlex.lt-md="66"
        id="editors"
        fxLayoutGap="8px"
    >
        <app-editor-window
            *ngFor="let editor of editors"
            [title]="editor.title"
            [type]="editor.type"
            [placeholder]="editor.placeholder"
            [before]="editor.before"
            [after]="editor.after"
            fxFlex
            (contentChange)="preview()"
        ></app-editor-window>
    </div>
    <app-editor-preview fxFlex></app-editor-preview>
</div>
